$fromBg: #000000;
$fromColor: #FFFFFF;
$toBg: #F5F5F5;
$toColor: #000000;

$className: 'he-messsage-cell';

.#{$className} {
  display: flex;
  margin-top: 40px;
  &__avatar {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    overflow: hidden;
    flex-shrink: 0;
  }
  &__message {
    font-size: 14Px;
  }
}

.#{$className}-from {
  flex-direction: row;
  align-items: flex-start;
  &__message {
    color: $fromColor;
  }
  &__message-wrapper {
    position: relative;
    padding: 20px;
    margin-left: 20px;
    background-color: $fromBg;
    border-radius: 8px;
    .arrow {
      position: absolute;
      left: -30px;
      top: 20px;
      border: 20px solid transparent;
      border-right: 20px solid $fromBg;
    }
  }
}

.#{$className}-to {
  flex-direction: row-reverse;
  align-items: flex-start;
  &__message-wrapper {
    position: relative;
    padding: 20px;
    margin-right: 20px;
    background-color: $toBg;
    border-radius: 8px;
    .arrow {
      position: absolute;
      right: -30px;
      top: 20px;
      border: 20px solid transparent;
      border-left: 20px solid $toBg;
    }
  }
  &__message {
    color: $toColor;
  }
}
