.he-navigator {
  &__left {
    margin-left: 30px;
  }
  &__wrapper {
    padding-bottom: 16px;
    &__inner {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

    }
  }
  &__title__wrapper {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
