.he-search {
  background-color: #F3F3F3;
  border-radius: 20Px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10Px;
  height: 30Px;

  &__input {
    margin-left: 16px;
    flex: 1;
    &__placeholder {
      font-size: 24px;
      color: #D5D5D5;
    }
  }
}
